# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode (optional)
# .vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/
**/doc/api/

# iOS
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/
ios/Flutter/.last_build_id
xcuserdata/

# Android Studio artifacts
android/app/debug
android/app/profile
android/app/release

# macOS
macos/Flutter/ephemeral/

# Windows
windows/Flutter/ephemeral/

# Web
web/.dart_tool/
web/build/

# Symbolication/Obfuscation
app.*.symbols
app.*.map.json

.env
